.page {
  background-color: #f9f9f9;
}

.hero-container {
    height: 85vh;
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    animation: fadein 1s;
}

.react-parallax-content {
  background-color: transparent;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.intro-text {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero-content{
  margin: 20% -20%;
  text-align: center;
  position: relative;
  padding-right: 20%;
  padding-left: 20%;
  background-color: transparent;
}

.hero-img-text {
  font-size: 55px;
  background-color: transparent;
}
.img-text-p {
  background-color: transparent;
}