.lower-container {
    height: 90vh;
    width: 90%;
    margin: auto;
    margin-bottom: 2.6%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.intro-text {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.lower-content{
  margin: 20% -20%;
  text-align: center;
  position: relative;
  padding-right: 20%;
  padding-left: 20%;
}

.img-text {
  font-size: x-large;
}

.lower-list {
    text-align: left;
}