.lower-container {
    height: 90vh;
    width: 90%;
    margin: auto;
    margin-bottom: 2.6%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
}

.intro-text {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.lower-content{
  margin: 20% -20%;
  text-align: center;
  position: relative;
  padding-right: 20%;
  padding-left: 20%;
  background-color: transparent;
}

.img-text {
  font-size: x-large;
  background-color: transparent;
}

.lower-list {
    text-align: left;
    background-color: transparent;
}

.lower-list-item {
  background-color: transparent;
}

.lower-button {
  
}