@media screen and (max-width: 1000px) and (min-width: 1000px) {
    .information-container {
        height: 85vh;
        width: 90%;
        margin: auto;
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
    }
}

 
.information-content{
    margin: 10% -10%;
    text-align: left;
    position: relative;
    padding-right: 25%;
    padding-left: 25%;
}

