@media screen and (max-width: 1000px) and (min-width: 1000px) {
    .program-container {
        height: 70vh;
        width: 100%;
        margin: auto;
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
    }
}

.program-page {
    background-color: #f9f9f9;
}
 
.program-content{
    margin: 6%;
    text-align: left;
    line-height: 2.0;
    position: relative;
    padding-right: 10%;
    padding-left: 10%;
}
