.services-page {
    background-color: #BBDEF0;
  }
  
  .services-container {
      height: 85vh;
      width: 90%;
      margin: auto;
      margin-bottom: 5%;
      position: relative;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      animation: fadein 1s;
      border-style: solid;
    border-color: transparent;
    border-radius: 10px;
  }
  
  .react-parallax-content {
    background-color: transparent;
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  
  .services-content{
    margin: 20% -20%;
    text-align: center;
    position: relative;
    padding-right: 20%;
    padding-left: 20%;
    background-color: transparent;
  }
  
  .services-img-text {
    background-color: transparent;
  }
  .services-img-text-p {
    background-color: transparent;
    text-align: center;
    position: relative;
    padding-right: 10%;
    padding-left: 10%;
    background-color: transparent;
    line-height: 1.5;

  }